.App {
  text-align: center;
}


.nav-bar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar ul li{
  display: inline-block;
  margin: 20px;
  font-weight: 700;
}

.nav-bar a{
  text-decoration: none;
  color: #000000;
}

.nav-bar a:hover, a:active, a.active{
  color: #1998b5d1;
}